# Created by .gitignore support plugin (hsz.mobi)
/vendor/
/tmp/
index.php
composer.lock
bower_components
js/node_modules
js/main-built.js
js/compile.log
images/Thumbs.db
.idea
src/Zone/PM/Config/db.yaml
zonegroupe-bundle.zip
deploy/gestion-minute.zip
gestion-minute.iml